html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	margin: 0;
	box-sizing: inherit;
}

.radar-chart {
	stroke: black;
	stroke-width: 2;
	fill: none;
	.dimension {
		transform: rotateZ(
			calc(((360deg / var(--dim-count, 5)) * var(--dim-i, 0)) + 90deg)
		);
	}
}
