html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	margin: 0;
	box-sizing: inherit;
}

body {
	/* background: #222;
	color: #eee;
	--rc-accent: orange; */
}

figure {
}

radar-chart {
	max-width: 100%;
}
